coordinate_frames {
  root_frame = "local";
  
  # this is the pelvis link, its a legacy that its referred to as body
  body {
    relative_to = "local";
    history = 2000;
    max_frequency = 1000;
    pose_update_channel = "POSE_BODY";
    updated = true;
    initial_transform{
      translation = [ 0, 0, 0 ];
      rpy = [0, 0, 0];
    }
  }

  # legacy frame used in director and maps in a few places
  utorso {
    relative_to = "body";
    history = 2000;
    max_frequency = 10;
    update_channel = "BODY_TO_UTORSO";
    updated = false;
    initial_transform{
      translation = [ 0, 0, 0 ];
      quat = [ 1, 0, 0, 0 ];
    }
  }  

  # taken from the URDF
  imu {
    relative_to = "body";
    history = 2000;
    max_frequency = 100;
    update_channel = "BODY_TO_IMU";
    updated = false;
    initial_transform{
      translation=[0.19, 0, 0.149];
      #rpy = [0.0, -90.0, 180.0];
      rpy = [0.0, 90.0, 0.0];
    }
  }

  head {
    relative_to = "body";
    history = 2000;
    max_frequency = 100;
    #pose_update_channel= "POSE_HEAD";
    update_channel = "BODY_TO_HEAD";
    updated = true;
    initial_transform{
      translation=[0.315, 0.000, 0.593];
      rpy = [0.0 , 0.0 , 0.0 ];
    }
  }  

  SICK_SCAN {
    relative_to = "body";
    history = 2000;
    max_frequency = 100;
    update_channel = "BODY_TO_SICK_SCAN";
    updated = false;
    initial_transform{
      # measured in 1.19b by GT and MF, Oct 2016
      translation=[  -0.095 , 0.0 , 0.345 ];
      rpy = [0.0 , -90.0 , 180.0 ];
    }
  }

  HORIZONTAL_SCAN {
    relative_to = "body";
    history = 2000;
    max_frequency = 100;
    update_channel = "BODY_TO_HORIZONTAL_SCAN";
    updated = false;
    initial_transform{
      # Should be consistent with
      # rosrun  tf tf_echo  base_link front_hokuyo_frame
      # measured in 1.19b by GT and MF, Oct 2016
      translation = [0.350, 0.000, 0.315];
      rpy = [0.0 , 0.0 , 0.0 ];
    }
  }

  body_alt {
    relative_to = "local";
    history = 2000;
    max_frequency = 1000;
    pose_update_channel = "POSE_BODY_ALT";
    #update_channel = "HEAD_TO_BODY";
    updated = true;
    initial_transform{
      translation = [ 0, 0, 0 ];
      rpy = [0, 0, 0];
    }
  }

  body_ground_truth {
    relative_to = "local";
    history = 2000;
    max_frequency = 1000;
    pose_update_channel = "POSE_GROUND_TRUTH";
    updated = true;
    initial_transform{
      translation = [ 0, 0, 0 ];
      rpy = [0, 0, 0];
    }
  }


}

planar_lidars {
  FIXED_SCAN {
    viewer_color = [ 1.0, 0.0, 0.0 ]; # red
    max_range = 29.0;
    min_range = 0.1;
    frequency = 40;
    laser_type = "HOKUYO_UTM";
    coord_frame = "FIXED_SCAN";
    lcm_channel = "FIXED_SCAN";
    surround_region = [0, 1000000];        
    up_region = [-1,-1];
    down_region = [-1, -1];
    max_range_free_dist = 29.0;
  }

  SICK_SCAN {
    viewer_color = [ 0.0, 1.0, 0.0 ]; # red
    max_range = 80.0;
    min_range = 0.1;
    frequency = 50;
    laser_type = "SICK";
    coord_frame = "SICK_SCAN";
    lcm_channel = "SICK_SCAN";
    surround_region = [0, 1000000];
    up_region = [-1,-1];
    down_region = [-1, -1];
    back_region = [-1, -1];
    back_region_db = [-1, -1];
    down_region_db = [-1, -1];
    up_region_db = [-1, -1];
    director_show = true;
    sensor_name = "Sick Lidar";
    intensity_range = [1, 400];
    max_range_free_dist = 80.0;
  }

  SICK_SCAN_FILTERED {
    viewer_color = [ 0.0, 1.0, 0.0 ]; # red
    max_range = 80.0;
    min_range = 0.1;
    frequency = 50;
    laser_type = "SICK";
    coord_frame = "SICK_SCAN";
    lcm_channel = "SICK_SCAN_FILTERED";
    surround_region = [0, 1000000];
    up_region = [-1,-1];
    down_region = [-1, -1];
    back_region = [-1, -1];
    back_region_db = [-1, -1];
    down_region_db = [-1, -1];
    up_region_db = [-1, -1];
    max_range_free_dist = 80.0;
    director_show = false;
    sensor_name = "Sick Lidar Filtered";
    intensity_range = [1, 400];
  }

  # Convenence to plot SICK at lower frequency
  SICK_SCAN_LOWER_FREQ {
    viewer_color = [ 0.0, 1.0, 0.0 ]; # red
    max_range = 80.0;
    min_range = 0.1;
    frequency = 50;
    laser_type = "SICK";
    coord_frame = "SICK_SCAN";
    lcm_channel = "SICK_SCAN_LOWER_FREQ";
    surround_region = [0, 1000000];
    up_region = [-1,-1];
    down_region = [-1, -1];
    max_range_free_dist = 80.0;
    director_show = false;
    sensor_name = "Sick Lower Freq";
    intensity_range = [1, 400];
  }

  HORIZONTAL_SCAN {
    viewer_color = [ 1.0, 0.0, 1.0 ];
    max_range = 29.9;
    min_range = 0.1;
    frequency = 40;
    laser_type = "SICK";
    coord_frame = "HORIZONTAL_SCAN";
    lcm_channel = "HORIZONTAL_SCAN";
    surround_region = [0, 1000000];
    up_region = [-1,-1];
    down_region = [-1, -1];
    director_show = true;
    sensor_name = "Horizontal Lidar";
    intensity_range = [400, 4000];
    max_range_free_dist = 80.0;
  }

}
