[submodule "apriltags-pod"]
	path = apriltags-pod
	url = https://github.com/psiorx/apriltags-pod.git
[submodule "bot_core_lcmtypes"]
	path = bot_core_lcmtypes
	url = https://github.com/openhumanoids/bot_core_lcmtypes.git
[submodule "common_utils"]
	path = common_utils
	url = https://github.com/openhumanoids/common_utils.git
[submodule "frsm"]
	path = frsm
	url = https://github.com/openhumanoids/frsm.git
[submodule "kinematics-utils"]
	path = kinematics-utils
	url = https://github.com/openhumanoids/kinematics-utils.git
[submodule "occ-map"]
	path = occ-map
	url = https://github.com/openhumanoids/occ-map.git
[submodule "eigen-pod"]
	path = eigen-pod
	url = https://github.com/RobotLocomotion/eigen-pod.git
[submodule "libbot"]
	path = libbot
	url = https://github.com/openhumanoids/libbot.git
[submodule "octomap-pod"]
	path = octomap-pod
	url = https://github.com/openhumanoids/octomap-pod.git
