build

/*/lcmtypes/c/
/*/*/lcmtypes/c/
/*/*/*/lcmtypes/c/
/*/*/*/*/lcmtypes/c/
/*/*/*/*/*/lcmtypes/c/
/*/*/*/*/*/*/lcmtypes/c/

/*/lcmtypes/cpp/
/*/*/lcmtypes/cpp/
/*/*/*/lcmtypes/cpp/
/*/*/*/*/lcmtypes/cpp/
/*/*/*/*/*/lcmtypes/cpp/
/*/*/*/*/*/*/lcmtypes/cpp/

/*/lcmtypes/java/
/*/*/lcmtypes/java/
/*/*/*/lcmtypes/java/
/*/*/*/*/lcmtypes/java/
/*/*/*/*/*/lcmtypes/java/
/*/*/*/*/*/*/lcmtypes/java/

/*/lcmtypes/python/
/*/*/lcmtypes/python/
/*/*/*/lcmtypes/python/
/*/*/*/*/lcmtypes/python/
/*/*/*/*/*/lcmtypes/python/
/*/*/*/*/*/*/lcmtypes/python/
