alpha_filter {
    # compute alpha by:
    # alpha = dt / ( 1/(2*pi*f_c) + dt)
    # with f_c the cutoff frequency in Hz and dt the sample time in seconds (1/f)
    # example: f_c = 10 Hz, dt = 1/500Hz = 0.002 s => alpha = 0.11
    #alpha = 0.11;   # 10 Hz
    #alpha = 0.06;   # 5 Hz
    #alpha = 0.0245; # 2 Hz
    alpha = 0.0124; # 1 Hz
    #alpha = 1.0; # no filtering

    # left hand finger joints
    target_joints = [
        "leftIndexFingerPitch1", "leftIndexFingerPitch2", "leftIndexFingerPitch3",
        "leftMiddleFingerPitch1", "leftMiddleFingerPitch2", "leftMiddleFingerPitch3",
        "leftPinkyPitch1", "leftPinkyPitch2", "leftPinkyPitch3",
        "leftThumbPitch1", "leftThumbPitch2", "leftThumbPitch3", "leftThumbRoll"
    ];
}
